body {
  /* padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-color: #fff;
  color: #3c3c3c;
  height: 100%;
  margin: 0;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  font: 14px "Roboto", Arial, Helvetica, sans-serif;
}

.main {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  margin: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  height: 65%;
  width: 65%;
  min-height: 450px;
  min-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  box-shadow: 5px 5px 5px 1px rgba(6, 70, 131, 0.1);
}

.alert {
  visibility: visible;
  transition: 300ms;
}

.alert-cover {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.alert-box {
  position: absolute;
  top: 5%;
  right: 5%;
  height: 9%;
  width: fit-content;
  min-height: 65px;
  min-width: 280px;
  font-size: 1.1em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  padding: 0 10px 0 10px;
}

.alert-error {
  background-color: rgba(172, 57, 49, 0.5);
  color: rgba(255, 255, 255, 0.8);
}

.alert-warning {
  background-color: rgba(245, 184, 65, 1);
  color: rgba(56, 62, 36, 1);
}

.alert-info {
  background-color: rgba(165, 216, 255, 0.6);
  color: rgba(0, 0, 0, 1);
}

.alert-success {
  background-color: rgba(39, 136, 49, 0.7);
  color: rgb(252, 253, 253);
}

.loading {
  visibility: visible;
  transition: 300ms;
}

.loading-cover {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-box {
  position: absolute;
  width: fit-content;
  color: white;
  font-size: 3em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  padding: 0 10px 0 10px;
}